<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Information for {{county}}</title>
</head>

<body>
    <div class="container">
        <!-- Greeting based on url -->
        <h2>Information for {{county}}!</h2>
        <!-- Option to choose a different course -->
        <h5><a href="javascript:history.back()">Go Back Home</a></h5>

        {% for table in table_list %}
        <!-- <h2>{{ loop.index }}. Table</h2> -->
        <table class="table table-striped data-list">
            <tr>
                <th class="text-start">{{table[0]}} for {{county}}:</th>
            </tr>
            {% for val in table[1:] %}
            <tr>
                <td class="text-start">{{val}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</body>

</html>