<!-- Save this as index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PittsNICE - Find Your Happy Neighborhood</title>
<link rel="stylesheet" href="/static/index.css">
</head>
<body>

<div class="container">
  <div class="logo">
    <img src="/static/PittsNICE.webp" alt="PittsNICE Logo">
  </div>

  <div class="parameters">
    <form id="parametersForm" method="post" action="/">
      <div class="parameter-row labels">
        {% for param_name in param_names %}
          <label for="{{ param_name }}">{{ param_name }}</label>
        {% endfor %}
      </div>
      <div class="parameter-row inputs">
        {% for i in range(5) %}
          <select id="{{ param_names[i] }}" name="{{ param_names[i] }}" required>
            {% for option_value in rank %}
              <option value="{{ loop.index0 }}" {% if parameters[i]|default(0)|int == loop.index0 %}selected{% endif %}>{{ option_value }}</option>
            {% endfor %}
          </select>
        {% endfor %}
      </div>
      <div class="submit-row">
        <input type="submit" value="Submit">
      </div>
    </form>







    <!-- <form id="parametersForm">
      <div class="parameter-row labels">
        {% for param_name in param_names %}
          <label for="{{ param_name }}">{{ param_name }}</label>
        {% endfor %}
      </div>
      <div class="parameter-row inputs">
        {% for parameter in parameters %}
          <input type="number" id="{{ param_names[loop.index-1] }}" name="{{ param_names[loop.index-1] }}" min="0" max="3" value="{{ parameter }}" required>
        {% endfor %}
      </div>
      <div class="submit-row">
        <input type="submit" value="Submit">
      </div>
    </form> -->
  </div>

  <div class="data-list">
    <h3>Ranking List</h3>
    <ul id="rankingList">
      <!-- Ranking list items will go here -->
      {% for item in ranked_list %}
      <li><a>{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

</body>
</html>
